<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% values.forEach(function(value){%>
      <h2><%= value.name%></h2>
      <p>Intention: <%= value.intention%> </p>
      <p>Price: <%= value.price%> </p>
      <p>Tags: <%- JSON.stringify(value.tags).replace(/"|\[|\]/g, "") %> </p>
      <img src="../images/<%=value.photo%>" alt="<%=value.photo%>"/>
    <% }) %>

  </body>
</html>
